<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Квизы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='quiz.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='modal.css') }}">
</head>
<body>
    
    <header >Header
        <nav><ul class="main-menu">
            {% block main_menu %}
            <li><a href="/quiz/">КВИЗ</a></li>
            <li><a href="">menu1-2</a></li>
            <li><a href="">menu1-3</a></li>
            {% endblock main_menu %}
        </ul></nav> 
    </header>         
    
    <main>

        <section class="info">
            <p class="base-info">Section</p>
            {% block content1_head %}
                <h2>Базовый шаблон</h2>
            {% endblock content1_head %}
            {% block content1 %}
                Контент 1
            {% endblock content1 %}
        </section>

        <section class="content">   
            <p class="base-info">Section</p>
            {% block content2_head %}
            {% endblock content2_head %}
            {% block content2 %}
                Контент 2
            {% endblock content2 %}
        </section>

    </main>  
    
    <aside>Aside</aside>   
    
    <footer>Footer</footer> 
    

    
</body>
</html>