<style>

</style>

{% extends "base.html" %}

{% block main_menu %}
    {{ super() }}
    {% include 'quiz_menu.html' %}
{% endblock main_menu %}

{% block content2 %}
<div class="quiz_form">
    <h2>{{question.question}}</h2>
    <form action="/question/" method="post">
        <label for="ans1"></label>
        {% for answer in answers%}
        <div class="anwer_row">
            <input type="radio" name="ans_text" id = 'radio{{loop.index}}' value="{{answer}}">
            <label for="radio{{ loop.index }}">{{ answer }}</label>
        </div>
        {% endfor %}
        <input class="button" type="submit" value="Ответить">
    </form>
</div>
{% endblock content2 %}